version: '3.9'

services:

  nginx:
    image: nginx:latest
    container_name: tl-alrabaa-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/ssl-data:/var/www/certbot
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: tl-alrabaa-frontend
    expose:
       - "3000:3000"
    depends_on:
      - laravel

  laravel:
    working_dir: /backend
    image: bitnami/laravel:8.4
    container_name: tl-alrabaa-backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/backend
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=database
      - DB_PORT=3306
      - DB_DATABASE=tl_alrbaa
      - DB_USERNAME=ibrahim
      - DB_PASSWORD=!heUnth!nkablePassword
    depends_on:
      - database
    build:
      context: ./backend
      dockerfile: Dockerfile.laravel
    command: >
      bash -c "composer install && /wait-for-it.sh tl-alrabaa-database:3306 --timeout=300 && php artisan migrate --force && exec php artisan serve --host=0.0.0.0 --port=8000"

  database:
    image: bitnami/mysql
    container_name: tl-alrabaa-database
    volumes:
      - database:/database 
    environment:
      - MYSQL_ROOT_PASSWORD=kimo1962
      - MYSQL_DATABASE=tl_alrbaa
      - MYSQL_USER=ibrahim
      - MYSQL_PASSWORD=!heUnth!nkablePassword

volumes:
  database:
